# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted
   
      # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
        - uses: actions/checkout@v1
        - name: Build the Docker Image 
          run: docker build --tag manalirahate/nova-gas:1.0.3 .
       
          env:
            CI: true
  push_on_docker:
     runs-on: self-hosted
     needs: build
     steps:
         - name: Login to Docker Hub
           uses: docker/login-action@v1
           with: 
#              registry: https://hub.docker.com
             username: ${{ secrets.DOCKER_USERNAME }}
             password: ${{ secrets.DOCKER_PASSWORD }}
         - name: Push the Docker Image 
           run: docker push manalirahate/nova-gas:1.0.3
  
  push_on_rancher:
     runs-on: self-hosted
     needs: push_on_docker
     steps:
       - name: 'Status'
         run: kubectl get all
       - name: 'Deploy'
         run: kubectl apply -f deployment.yaml
